:root {
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  width: 100%;
}
/*header*/
.top-header {
  top: 0%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #131313;
}
.top-header-container {
  display: flex;
  z-index: 1;
  padding: 5px;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.top-header-title {
  color: #f1f1f1;
  width: 100%;
  font-size: 25px;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-header-button {
  width: 100%;
  display: flex;
  float: right;
  align-items: center;
  justify-content: flex-end;
}
.header-button {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 70%;
  border: none;
  outline: none;
  border-radius: 20px;
  background: #f77062;
  color: #fff;
}
.header-button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}
/*Side Navigation*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main-nav {
  transition: margin-left 0.5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 100%;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.wrapper {
  width: 350px;
  padding: 20px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button:hover {
  opacity: 1;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}
.signup-container {
  padding: 16px;
  width: 70%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}
/*Login Form Page*/
.form-login-div {
  margin-top: 200px;
  margin-bottom: 200px;
}
.form-login {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-items: center;
  border: 3px solid #f1f1f1;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.8;
}
.container-login {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
/*Contact Page*/
.container-contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.contact-div {
  display: flex;
  flex-direction: column;
}
.contact-div h1 {
  text-align: center;
}
.map-container {
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}
.mapouter {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}
/*Footer*/
.footer1 {
  bottom: 0;
  display: flex;
  height: 360px;
  background-color: #131313;
  width: 100%;
}
.footer-container1 {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footer-content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-content1 h3 {
  color: #ddd;
  opacity: 0.5;
  padding-bottom: 10px;
}
.footer-content1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.footer-content1 ul a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.footer-content1 ul a li i {
  font-size: 25px;
}
/*index page*/
.main-content {
  height: 100vh;
  width: 100%;
  background-color: #191919;
  margin-top: auto;
}
.main-content-center {
  display: flex;
  margin-top: auto;
}
.main-content-center-signup {
  margin-right: auto;
  margin-left: auto;
  margin-top: 250px;
  align-items: center;
}
.main-content-center-signup h1 {
  color: #ddd;
  text-align: center;
  font-size: 45px;
}
.button-center-div {
  width: 100%;
  text-align: center;
}
.button-center {
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  background: #f77062;
  color: #fff;
}
.button-explore-div {
  width: 100%;
  text-align: center;
}
.button-explore {
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}
/*bookstore*/
img {
  width: 100%;
}
.products-container {
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title {
  font-family: "Roboto", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}
/* Bookstore - product section */
.products {
  background: var(--alice-blue);
  padding: 3.2rem 0;
}
.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}
.product {
  margin: 2rem;
  position: relative;
}
.product-content {
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}
.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-cart,
.btn-buy {
  z-index: 99;
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart {
  background: black;
  color: white;
}
.btn-cart:hover {
  background: var(--carribean-green);
}
.btn-buy {
  background: white;
}
.btn-buy:hover {
  background: var(--carribean-green);
  color: #fff;
}
.product-info {
  background: white;
  padding: 2rem;
}
.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*users rating stars*/
.rate {
  width: 100%;
  float: left;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label::before {
  content: "★";
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}
.product-price:first-of-type {
  text-decoration: line-through;
  color: var(--carribean-green);
}
.product-img img {
  transition: transform 0.6s ease;
}
.product:hover .product-img img {
  transform: scale(1.1);
}
.product:hover .product-img {
  background: var(--carribean-green);
}
.product:hover .product-btns {
  opacity: 1;
}
.off-info .sm-title {
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  letter-spacing: 3px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .product .text-light {
    width: 50%;
  }
}
@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*wishlist page*/
main {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 50%;
  text-align: center;
  box-shadow: 0px 5px 14px #00000022;
  border-radius: 3px;
  border: 3px;
  background-color: #ffffff;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 140px;
}
.main-container {
  padding-left: 100px;
}
main button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.wishlist-forms {
  display: flex;
  flex-direction: row;
}
#form {
  width: 50%;
  margin: 0 auto;

  margin-top: 10px;
  text-align: center;
  box-shadow: 0px 5px 14px #00000022;
  border-radius: 3px;
  border: 3px;
  background-color: #ffffff;
}
#form input {
  width: 50%;
  margin-bottom: 20px;
}
#form2 {
  width: 50%;
  margin: auto;
  text-align: center;
  box-shadow: 0px 5px 14px #00000022;
  border-radius: 3px;
  border: 3px;
  background-color: #ffffff;
  margin-top: 10px;
}
#form2 input {
  width: 50%;
  margin-bottom: 20px;
}
#updateitem {
  margin-bottom: 10px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#createitem {
  margin-bottom: 10px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#addToListH2 {
  text-align: center;
}
#updateListH2 {
  text-align: center;
}
.book-finder {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .main-content-center-signup {
    margin-top: 0;
  }
  .main-content-center-signup h1 {
    font-size: 25px;
  }
  .top-header-title {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .sidenav #mySidenav {
    width: 100% !important;
  }
  .top-header-title {
    font-size: 21px;
  }
  .footer1 {
    align-items: center;
    height: 100%;
    text-align: center;
  }
  .footer-content1 {
    display: block;
    text-align: center;
    align-items: center;
  }
  .main-content-center-signup {
    margin-top: 250px;
    width: 100%;
  }
  .top-header-container {
    margin-left: 20px;
  }
  .wishlist-forms {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .top-header-container {
    margin-left: 20px;
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
}
